@use './variables.scss';

#root {
  max-width: variables.$screen-lg;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: variables.$screen-md) {
  #root {
    margin: 0 auto;
    padding: 1rem;
  }
}